#footer {
  display: none !important;
}

#conversational {
  background-color: #f6f6f6;
}
#conversational .chat-wrap {
  background-color: #fff;
  max-width: 560px;
  margin: 0 auto;
  padding: 40px 20px;
  height: calc(100vh - 120px);
  overflow-y: scroll;
}
#conversational .bubble {
  position: relative;
  visibility: hidden;
  display: block;
  opacity: 0;
  top: 100px;
  transition: opacity 0.5s ease-in-out, top 0.5s ease-in-out, visibility 0s linear 0.5s;
  max-height: 0;
}
#conversational .bubble .inner {
  display: inline-flex;
  border-radius: 20px 20px 20px 0;
  background-color: #e5f5ff;
  padding: 0;
  margin-top: 0;
  min-width: 86px;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
#conversational .bubble .inner.user-response {
  border-radius: 20px 20px 0px 20px;
  background-color: #f6f6f6;
  float: right;
  padding-right: 50px !important;
}
#conversational .bubble .inner.user-response span {
  height: 35px;
  width: 35px;
  position: absolute;
  background: #00abff;
  border-radius: 50%;
  right: -3px;
  top: -3px;
  transform: scale(0);
}
#conversational .bubble .inner.bubble-tip {
  color: white;
  background-color: #00abff;
  height: 45px;
  border-radius: 20px;
}
#conversational .bubble .inner.bubble-tip span {
  width: 25px;
  height: 25px;
  background-color: #ffffff;
  border-radius: 50%;
  margin-left: 15px;
}
#conversational .bubble.show {
  opacity: 1;
  top: 0;
  visibility: visible;
  transition: opacity 0.5s ease-in-out, top 0.5s ease-in-out, visibility 0s linear 0s;
  max-height: 500px;
}
#conversational .bubble.show .inner {
  padding: 10px 20px;
  margin-top: 20px;
}
#conversational .bubble.show .inner.user-response span {
  transform: scale(1);
  transition: transform 0.3s cubic-bezier(0.61, 0.26, 0.49, 1.25) 0.7s;
}
#conversational .bubble.loader-wrap {
  max-height: 500px;
  min-height: 50px;
}
#conversational .bubble .loader {
  position: relative;
  text-align: center;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
#conversational .bubble .loader .dot {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-right: 2px;
  background: #00abff;
  animation: wave 1.3s linear infinite;
}
#conversational .bubble .loader .dot:nth-child(2) {
  animation-delay: -1.1s;
}
#conversational .bubble .loader .dot:nth-child(3) {
  animation-delay: -0.9s;
}
@keyframes wave {
  0%, 60%, 100% {
    transform: initial;
  }
  30% {
    transform: translateY(-15px);
  }
}
#conversational .bubble::after {
  content: "";
  display: table;
  clear: both;
}
#conversational .bubble.user {
  position: fixed;
  display: block;
  top: inherit;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  max-width: 560px;
  background-color: #00abff;
  height: 75px;
  padding: 15px;
}
#conversational .bubble.user input {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 0 15px;
}
#conversational .bubble.user .bubble-submit {
  position: absolute;
  right: 29px;
  top: 29px;
  height: 24px;
  width: 24px;
  z-index: 5;
}
#conversational .bubble.user .bubble-submit svg {
  fill: #00abff;
}
@media (min-width: 768px) {
  #conversational .bubble.user {
    left: 50%;
    transform: translateX(-50%);
  }
}

@-webkit-keyframes cycleOne {
  0% {
    background: rgba(150, 150, 150, 0.4);
  }
  33.333% {
    background: #969696;
  }
  66.6667% {
    background: rgba(150, 150, 150, 0.4);
  }
  100% {
    background: rgba(150, 150, 150, 0.4);
  }
}
@-webkit-keyframes cycleTwo {
  0% {
    background: rgba(150, 150, 150, 0.4);
  }
  33.333% {
    background: rgba(150, 150, 150, 0.4);
  }
  66.6667% {
    background: #969696;
  }
  100% {
    background: rgba(150, 150, 150, 0.4);
  }
}
@-webkit-keyframes cycleThree {
  0% {
    background: rgba(150, 150, 150, 0.4);
  }
  33.333% {
    background: rgba(150, 150, 150, 0.4);
  }
  66.6667% {
    background: rgba(150, 150, 150, 0.4);
  }
  100% {
    background: #969696;
  }
}

/*# sourceMappingURL=convo.css.map */
