{
  "presets": [["es2015", { "modules": false }], "react"],
  "plugins": [
    ["transform-object-rest-spread", { "useBuiltIns": false }],
    "syntax-dynamic-import"
  ],
  "env": {
    "test": {
      "plugins": [
        "webpack-alias",
        "dynamic-import-node",
        "transform-es2015-modules-commonjs"
      ]
    },
    "production": { // N.B.: This needs NODE_ENV=production to run
      "plugins": [
        ["transform-react-remove-prop-types", { "removeImport": true }] // Saves less than 5kb
      ]
    }
  }
}
